.user-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.can-list {
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
  }

.can-item {
    font-size: 2em;
}

.payment-group {
    font-size: 2em;
    margin-top: 20px;
}

.restock-button {
    font-size: 2em;
    margin-top: 20px;
}