<div class="user-content">
  <mat-list class="can-list">
    <ng-container  *ngFor="let can of canView">
      <mat-list-item class="can-item" >
        {{can.quantity}} X {{can.flavour}}:  {{can.price | currency}}
      </mat-list-item>
    </ng-container>
  </mat-list>
  <mat-button-toggle-group class="payment-group" [(ngModel)]="paymentType">
    <mat-button-toggle value = "cash">
      Cash
    </mat-button-toggle>
    <mat-button-toggle value = "card">
      Card
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button class="restock-button" mat-raised-button color="primary" 
    (click)="onRestockClick()">Restock</button>
</div>