<div class="user-content">
  <mat-card class="current-stock mat-elevation-z3">
    <mat-card-title>Current Stock</mat-card-title>
    <mat-card-content>
      <mat-list class="can-list">
        <mat-list-item class="can-item" *ngFor="let can of canView">
          {{can.quantity}} X {{can.flavour}}:  {{can.price | currency}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="current-cash mat-elevation-z3">
      <mat-card-title>Current Cash in Machine</mat-card-title>
      <mat-card-content>
        <span class="details-content">{{currentCashHeld | currency}}</span>
      </mat-card-content>
  </mat-card>

  <mat-card class="card-details mat-elevation-z3">
    <mat-card-title>Credit Card Details</mat-card-title>
    <mat-card-content>
      <br>
      <span class="card-history-title">Card Payment History:</span>
      <br>
      <span *ngIf="cardLog.length === 0">No Payments Detected</span>
      <mat-list class="card-list">
          <mat-list-item class="card-item" *ngFor="let entry of cardLog">
            {{entry.paymentTime | date: 'medium'}}:  {{entry.amount | currency}}
          </mat-list-item>
      </mat-list>
      <span class="details-content">Total: {{cardTotal | currency}}</span>
    </mat-card-content>
  </mat-card>

  <button class="restock-button mat-elevation-z8" mat-raised-button color="primary"
    (click)="onRestockClick()">Restock
  </button>
</div>
