
  <div class="user-content">
    <mat-card class="current-stock mat-elevation-z3">
    <mat-card-title>Select a Flavour and Payment Type</mat-card-title>
      <mat-radio-group class="can-group" [(ngModel)]="selectedCan">
        <ng-container  *ngFor="let can of canView">
          <mat-radio-button class="can-button" [value]="can.id" *ngIf="can.quantity > 0" >
            {{can.quantity}} X {{can.flavour}}:  {{can.price | currency}}
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
      <div class="payment-group mat-elevation-z8">
        <mat-button-toggle-group [(ngModel)]="paymentType">
          <mat-button-toggle value = "cash">
            Cash
          </mat-button-toggle>
          <mat-button-toggle value = "card">
            Card
          </mat-button-toggle>
        </mat-button-toggle-group>
        </div>
      <button class="purchase-button mat-elevation-z8" mat-raised-button color="primary"
        (click)="onPurchaseClicked()" [disabled]="selectedCan === 0 || paymentType===''">Purchase</button>
    </mat-card>
  </div>
